autopep8==1.6.0
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
colorama==0.4.4
flake8==4.0.1
flake8-pep257==1.0.5
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-WTF==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
peewee==3.14.8
pep257==0.7.0
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
Werkzeug==2.0.2
WTForms==3.0.1
